In [1]:
import psycopg2
conn = psycopg2.connect(database="result", user = "postgres", password = "Meta@123", host = "0.0.0.0", port = "5432")
print("Opened database successfully")

Opened database successfully

In [2]:
"""
CREATE TABLE `orderdetails` (
  `orderNumber` int(11) NOT NULL,
  `productCode` varchar(15) NOT NULL,
  `quantityOrdered` int(11) NOT NULL,
  `priceEach` decimal(10,2) NOT NULL,
  `orderLineNumber` smallint(6) NOT NULL,
  PRIMARY KEY (`orderNumber`,`productCode`),
  KEY `productCode` (`productCode`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

"""

cur = conn.cursor()
try:
    cur.execute('''CREATE TABLE orderdetails
          (orderNumber INT PRIMARY KEY NOT NULL,
          productCode  CHAR(50) NOT NULL,
          quantityOrdered  INT  NOT NULL,
          priceEach        float8 NOT NULL,
          orderLineNumber  INT  NOT NULL);''')
    print("Table created successfully")
    conn.commit()
    conn.close()
except:
    cur.execute("rollback")

Table created successfully

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="0.0.0.0",
  user="root",
  password="Meta@123",
  database="employees"
)

In [4]:
#show databases
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('classicmodels',)
('employees',)
('mysql',)
('performance_schema',)
('rahul',)
('result',)
('sys',)

In [7]:
#lets create table
#print schema of result_df

# result_df.printSchema()

# root
#  |-- emp_no: integer (nullable = true)
#  |-- first_name: string (nullable = true)
#  |-- last_name: string (nullable = true)
#  |-- dept_name: string (nullable = true)



mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY,emp_no INT, first_name VARCHAR(255),last_name VARCHAR(255),dept_name VARCHAR(255))")