In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="0.0.0.0",
  user="root",
  password="Meta@123"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f206b98c940>

In [3]:
#create database
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE rahul")

In [4]:
#show databases
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('rahul',)
('sys',)

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="0.0.0.0",
  user="root",
  password="Meta@123",
  database="rahul"
)

In [6]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [4]:
#insert data
mycursor = mydb.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.